project:
  type: book
  output-dir: docs

book:
  title: "Tandem Freestyle"
  description: "Übersicht der Manöver im Tandem"
  author: "Rieke"
  date: today
  date-format: medium
  page-footer: "Text and figures shared under the Creative Commons Attribution 4.0 International License."
  site-url: "./"
  chapters:
    - index.qmd
    - intro.qmd
    - maneuver1.qmd
    - maneuver2.qmd
    - maneuver3.qmd
    - maneuver4.qmd
    - sideslips.qmd
    - freespins.qmd
    - gimbal.qmd
    - extended.qmd

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt
    toc-depth: 2
    number-depth: 1
    include-in-header: 
      - text: |
          \usepackage{enumitem}
          \AddToHook{cmd/section/before}{\clearpage}
          \setlist[itemize]{leftmargin=5mm}
    include-before-body: 
      - text: |
          \captionsetup[subfigure]{labelformat=empty}

babelquarto:
  languagecodes:
  - name: en
    text: "Version in en"
  - name: de
    text: "Version in de"
  mainlanguage: 'de'
  languages: []
description-en: "Overview of maneuvers in the tandem"
lang: de
